
html, body {
    margin: 0;
    padding: 0;
    height: 100%;
    display: flex;
    flex-direction: column;
    font-family: 'Georgia', serif;
    color: #A2E4DB; 
    background-color: #FFB6C1; 
    line-height: 1.6;
}

header {
    background-image: url('MAJOR.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    color: #FFF1E6;
    padding: 20px;
    text-align: center;
    position: relative;
}

header h1 {
    font-size: 2.5em;
    margin: 0;
    color: #6B1E52; 
}

header p {
    font-size: 1.2em;
    color: #FFF1E6; 
}

main {
    padding: 20px;
    flex: 1;
}

.gallery {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
}

.gallery-item {
    background-color: #FFD1C1; 
    border: 1px solid #FFB6C1; 
    padding: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    width: calc(33.333% - 20px);
    box-sizing: border-box;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.gallery-item:hover {
    transform: scale(1.03);
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.3);
}

.gallery-item img {
    width: 100%;
    height: auto;
    border-bottom: 2px solid #FFB6C1; 
}

.gallery-item h2 {
    font-size: 1.5em;
    margin-top: 0.5em;
    color: #6B1E52;
}

.gallery-item p {
    font-size: 1em;
    color: #9B5F76; 
}

footer {
    width: 100%;
    background-image: url('MAJOR2.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    color: #FFF1E6; 
    text-align: center;
    padding: 30px 0;
    border-top: 3px solid #FFB6C1; 
    box-shadow: inset 0 -4px 8px rgba(0, 0, 0, 0.2);
    display: flex;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
}

audio {
    margin-top: 10px;
    width: 100%;
}